In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
train = pd.read_csv('train_1.csv')
test = pd.read_csv('test_1.csv')

C:\Users\reona\AppData\Local\Temp\ipykernel_30064\437315718.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('train_1.csv')

In [9]:
train.dtypes

種類               object
市区町村コード           int64
都道府県名            object
市区町村名            object
地区名              object
最寄駅：名称           object
最寄駅：距離（分）        object
間取り              object
面積（㎡）             int64
建築年              object
建物の構造            object
用途               object
今後の利用目的          object
都市計画             object
建ぺい率（％）         float64
容積率（％）          float64
取引時点             object
改装               object
取引価格（総額）_log    float64
dtype: object

In [10]:
test.dtypes

種類            object
市区町村コード        int64
都道府県名         object
市区町村名         object
地区名           object
最寄駅：名称        object
最寄駅：距離（分）     object
間取り           object
面積（㎡）          int64
建築年           object
建物の構造         object
用途            object
今後の利用目的       object
都市計画          object
建ぺい率（％）      float64
容積率（％）       float64
取引時点          object
改装            object
dtype: object

In [7]:
def int_area(area):
    if area == "2000㎡以上":
        area = 2000
        
    return int(area)

In [8]:
train['面積（㎡）'] = train['面積（㎡）'].apply(lambda x: int_area(x))

In [11]:
df = pd.concat([train, test])

In [12]:
# 都道府県に対してLabelEncodingを実行
from sklearn import preprocessing

In [13]:
le = preprocessing.LabelEncoder()
le.fit(df['都道府県名'])

train['都道府県名'] = le.transform(train['都道府県名'])
test['都道府県名'] = le.transform(test['都道府県名'])

In [14]:
le = preprocessing.LabelEncoder()
le.fit(df['市区町村名'])

LabelEncoder()

In [15]:
train['市区町村名'] = le.transform(train['市区町村名'])
test['市区町村名'] = le.transform(test['市区町村名'])

In [16]:
le = preprocessing.LabelEncoder()
le.fit(df['地区名'])

train['地区名'] = le.transform(train['地区名'])
test['地区名'] = le.transform(test['地区名'])

In [17]:
le = preprocessing.LabelEncoder()
le.fit(df['最寄駅：名称'])

train['最寄駅：名称'] = le.transform(train['最寄駅：名称'])
test['最寄駅：名称'] = le.transform(test['最寄駅：名称'])

In [18]:
le = preprocessing.LabelEncoder()
le.fit(df['間取り'])

train['間取り'] = le.transform(train['間取り'])
test['間取り'] = le.transform(test['間取り'])

In [19]:
le = preprocessing.LabelEncoder()
le.fit(df['建物の構造'])

train['建物の構造'] = le.transform(train['建物の構造'])
test['建物の構造'] = le.transform(test['建物の構造'])

In [20]:
le = preprocessing.LabelEncoder()
le.fit(df['用途'])

train['用途'] = le.transform(train['用途'])
test['用途'] = le.transform(test['用途'])

In [21]:
le = preprocessing.LabelEncoder()
le.fit(df['都市計画'])

train['都市計画'] = le.transform(train['都市計画'])
test['都市計画'] = le.transform(test['都市計画'])

In [22]:
le = preprocessing.LabelEncoder()
le.fit(df['改装'])

train['改装'] = le.transform(train['改装'])
test['改装'] = le.transform(test['改装'])

In [23]:
le = preprocessing.LabelEncoder()
le.fit(df['種類'])

train['種類'] = le.transform(train['種類'])
test['種類'] = le.transform(test['種類'])

In [24]:
le = preprocessing.LabelEncoder()
le.fit(df['今後の利用目的'])

train['今後の利用目的'] = le.transform(train['今後の利用目的'])
test['今後の利用目的'] = le.transform(test['今後の利用目的'])

In [25]:
def convert_wareki_to_seireki(wareki):
    if wareki == wareki:
        if wareki == '戦前':
            wareki = '昭和20年'
        value = wareki[2:-1]
        if value == '元':
            value = 1
        else:
            value = int(value)
    
        if '昭和' in wareki:
            seireki = 1925+value
        elif '平成' in wareki:
            seireki = 1988 + value
        elif '令和' in wareki:
            seireki = 2018+value
    else:
        seireki = wareki
    
    return seireki

In [26]:
train['建築年'] = train['建築年'].apply(lambda x: convert_wareki_to_seireki(x))
test['建築年'] = test['建築年'].apply(lambda x: convert_wareki_to_seireki(x))

In [27]:
def convert_trade_time(num):
    if num==num:
        year = num[:4]
        month = num[6]
        result = int(year) + 1/4*int(month)
    else:
        result = num
    
    return result

In [28]:
train['取引時点'] = train['取引時点'].apply(lambda x: convert_trade_time(x))
test['取引時点'] = test['取引時点'].apply(lambda x: convert_trade_time(x))

In [57]:
def normalize_time_station(moyori):
    if moyori == moyori:
        if moyori == '30分?60分':
            moyori = 45
        elif moyori == '1H?1H30':
            moyori = 75
        elif moyori == '2H?':
            moyori = 120
        elif moyori == "1H30?2H":
            moyori = 105
    
    
    return int(moyori)

In [58]:
train['最寄駅：距離（分）'] = train['最寄駅：距離（分）'].fillna(0)
test['最寄駅：距離（分）'] = test['最寄駅：距離（分）'].fillna(0)

In [59]:
train['最寄駅：距離（分）'] = train['最寄駅：距離（分）'].apply(lambda x: normalize_time_station(x))
test['最寄駅：距離（分）'] = test['最寄駅：距離（分）'].apply(lambda x: normalize_time_station(x))

In [60]:
train.head()

,種類,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引価格（総額）_log
0,0,1101,4,345,2851,3371,5,39,70,1986.0,9,6,4,14,80.0,300.0,2009.50,0,6.982271
1,0,1106,4,347,5346,2821,45,50,90,1995.0,4,6,2,10,60.0,200.0,2014.75,0,6.968483
2,0,1101,4,345,2844,3371,29,50,95,1999.0,4,6,4,14,80.0,300.0,2013.75,0,7.361728
3,0,1110,4,351,8304,2908,45,50,80,1996.0,4,6,4,10,60.0,200.0,2013.50,1,6.991226
4,0,1110,4,351,8303,2908,45,11,35,1990.0,4,6,4,14,80.0,200.0,2009.00,1,6.579784

In [61]:
test.head()

,種類,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装
0,0,1101,4,345,4280,3370,1,39,75,2016.0,4,23,0,0,80.0,600.0,2022.50,1
1,0,1101,4,345,4280,3370,3,27,75,2012.0,4,23,2,0,80.0,600.0,2022.50,1
2,0,1101,4,345,4280,3371,2,27,60,1984.0,9,23,2,0,80.0,400.0,2022.75,1
3,0,1101,4,345,4280,3371,2,3,25,1986.0,4,23,2,0,80.0,400.0,2022.75,1
4,0,1101,4,345,4280,3371,1,39,75,2016.0,4,23,2,0,80.0,400.0,2022.75,1

In [62]:
train.dtypes

種類                int32
市区町村コード           int64
都道府県名             int32
市区町村名             int32
地区名               int32
最寄駅：名称            int32
最寄駅：距離（分）         int64
間取り               int32
面積（㎡）             int64
建築年             float64
建物の構造             int32
用途                int32
今後の利用目的           int32
都市計画              int32
建ぺい率（％）         float64
容積率（％）          float64
取引時点            float64
改装                int32
取引価格（総額）_log    float64
dtype: object

In [63]:
test.dtypes

種類             int32
市区町村コード        int64
都道府県名          int32
市区町村名          int32
地区名            int32
最寄駅：名称         int32
最寄駅：距離（分）      int64
間取り            int32
面積（㎡）          int64
建築年          float64
建物の構造          int32
用途             int32
今後の利用目的        int32
都市計画           int32
建ぺい率（％）      float64
容積率（％）       float64
取引時点         float64
改装             int32
dtype: object

In [64]:
train.to_csv('train_05_13.csv',index=False)
test.to_csv('test_05_13.csv',index=False)

In [65]:
import lightgbm as lgb

In [66]:
print(train.shape)
print(test.shape)

(765412, 19)
(19301, 18)

In [67]:
print(type(train))

<class 'pandas.core.frame.DataFrame'>

In [68]:
from sklearn.model_selection import train_test_split

train_x, eval_x, train_y, eval_y = train_test_split(train.iloc[:,0:18],train.iloc[:,-1], test_size=0.2, random_state=0)

In [69]:
print(train_x.shape)
print(eval_x.shape)
print(train_y.shape)
print(eval_y.shape)

(612329, 18)
(153083, 18)
(612329,)
(153083,)

In [70]:
train_x.head()

,種類,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装
521306,0,23203,24,19,7282,1504,26,39,75,1995.0,9,6,4,6,60.0,200.0,2013.50,0
168319,0,13109,26,164,2629,1219,4,39,55,NaN,9,6,4,0,80.0,500.0,2010.75,1
373075,0,14204,32,580,5450,3890,0,50,60,NaN,4,6,4,16,NaN,NaN,2008.75,2
177815,0,13119,26,370,5574,1200,6,39,65,2012.0,4,6,2,0,80.0,500.0,2017.25,0
118521,0,12322,5,128,7091,3527,13,39,80,1981.0,4,6,2,8,60.0,200.0,2019.25,1

In [71]:
eval_x.head()

,種類,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装
465274,0,14205,32,542,1178,653,5,39,60,1974.0,9,6,4,10,60.0,200.0,2012.25,1
665930,0,28206,3,527,299,3102,7,39,155,NaN,4,6,2,16,NaN,NaN,2015.25,0
309349,0,13205,26,592,7127,2227,1,39,55,2005.0,4,23,2,0,80.0,400.0,2020.25,1
398646,0,14134,32,284,4475,2403,23,39,60,1995.0,4,23,2,5,60.0,200.0,2019.00,1
230416,0,13111,26,198,1063,3366,8,66,45,1990.0,4,6,4,8,60.0,200.0,2005.75,1

In [72]:
params = {'objective': 'regression', 'metric': 'mae', 'max_depth': 7}

train_data = lgb.Dataset(train_x,label=train_y)
test_data = lgb.Dataset(eval_x,label=eval_y, reference=train_data)

In [73]:
train.head()

,種類,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引価格（総額）_log
0,0,1101,4,345,2851,3371,5,39,70,1986.0,9,6,4,14,80.0,300.0,2009.50,0,6.982271
1,0,1106,4,347,5346,2821,45,50,90,1995.0,4,6,2,10,60.0,200.0,2014.75,0,6.968483
2,0,1101,4,345,2844,3371,29,50,95,1999.0,4,6,4,14,80.0,300.0,2013.75,0,7.361728
3,0,1110,4,351,8304,2908,45,50,80,1996.0,4,6,4,10,60.0,200.0,2013.50,1,6.991226
4,0,1110,4,351,8303,2908,45,11,35,1990.0,4,6,4,14,80.0,200.0,2009.00,1,6.579784

In [74]:
test.head()

,種類,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装
0,0,1101,4,345,4280,3370,1,39,75,2016.0,4,23,0,0,80.0,600.0,2022.50,1
1,0,1101,4,345,4280,3370,3,27,75,2012.0,4,23,2,0,80.0,600.0,2022.50,1
2,0,1101,4,345,4280,3371,2,27,60,1984.0,9,23,2,0,80.0,400.0,2022.75,1
3,0,1101,4,345,4280,3371,2,3,25,1986.0,4,23,2,0,80.0,400.0,2022.75,1
4,0,1101,4,345,4280,3371,1,39,75,2016.0,4,23,2,0,80.0,400.0,2022.75,1

In [75]:
import warnings
warnings.simplefilter('ignore')

In [76]:
train.dtypes

種類                int32
市区町村コード           int64
都道府県名             int32
市区町村名             int32
地区名               int32
最寄駅：名称            int32
最寄駅：距離（分）         int64
間取り               int32
面積（㎡）             int64
建築年             float64
建物の構造             int32
用途                int32
今後の利用目的           int32
都市計画              int32
建ぺい率（％）         float64
容積率（％）          float64
取引時点            float64
改装                int32
取引価格（総額）_log    float64
dtype: object

In [77]:
model = lgb.train(params, train_data, valid_sets=[train_data, test_data], early_stopping_rounds=10)

[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.007084 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1406
[LightGBM] [Info] Number of data points in the train set: 612329, number of used features: 17
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Info] Start training from score 7.233755
[1]	training's l1: 0.254912	valid_1's l1: 0.255206
Training until validation scores don't improve for 10 rounds
[2]	training's l1: 0.239022	valid_1's l1: 0.239339
[3]	training's l1: 0.224931	valid_1's l1: 0.225249
[4]	training's l1: 0.212564	valid_1's l1: 0.212889
[5]	training's l1: 0.201842	valid_1's l1: 0.202165
[6]	training's l1: 0.192411	valid_1's l1: 0.192735
[7]	training's l1: 0.183966	valid_1's l1: 0.184282
[8]	training's l1: 0.176858	valid_1's l1: 0.177158
[9]	training's l1: 0.17072	valid_1's l1: 0.170993
[10]	training's l1: 0.165327	valid_1's l1: 0.165617
[11]	training's l1: 0.160362	valid_1's l1: 0.160679
[12]	training's l1: 0.155968	valid_1's l1: 0.156247
[13]	training's l1: 0.15197	valid_1's l1: 0.15229
[14]	training's l1: 0.148589	valid_1's l1: 0.148916
[15]	training's l1: 0.145686	valid_1's l1: 0.146032
[16]	training's l1: 0.142958	valid_1's l1: 0.143342
[17]	training's l1: 0.140633	valid_1's l1: 0.141019
[18]	training's l1: 0.138591	valid_1's l1: 0.138972
[19]	training's l1: 0.136353	valid_1's l1: 0.136746
[20]	training's l1: 0.134744	valid_1's l1: 0.135117
[21]	training's l1: 0.133122	valid_1's l1: 0.133491
[22]	training's l1: 0.131282	valid_1's l1: 0.131656
[23]	training's l1: 0.129854	valid_1's l1: 0.130226
[24]	training's l1: 0.128519	valid_1's l1: 0.128914
[25]	training's l1: 0.127513	valid_1's l1: 0.127904
[26]	training's l1: 0.126421	valid_1's l1: 0.126802
[27]	training's l1: 0.125409	valid_1's l1: 0.125785
[28]	training's l1: 0.124362	valid_1's l1: 0.124749
[29]	training's l1: 0.123406	valid_1's l1: 0.123796
[30]	training's l1: 0.122569	valid_1's l1: 0.122962
[31]	training's l1: 0.121774	valid_1's l1: 0.122175
[32]	training's l1: 0.121016	valid_1's l1: 0.121413
[33]	training's l1: 0.120399	valid_1's l1: 0.120795
[34]	training's l1: 0.119776	valid_1's l1: 0.12016
[35]	training's l1: 0.119238	valid_1's l1: 0.119621
[36]	training's l1: 0.118602	valid_1's l1: 0.118992
[37]	training's l1: 0.118015	valid_1's l1: 0.118412
[38]	training's l1: 0.117485	valid_1's l1: 0.117881
[39]	training's l1: 0.117106	valid_1's l1: 0.117505
[40]	training's l1: 0.116606	valid_1's l1: 0.117017
[41]	training's l1: 0.116114	valid_1's l1: 0.116533
[42]	training's l1: 0.115748	valid_1's l1: 0.116171
[43]	training's l1: 0.115348	valid_1's l1: 0.115778
[44]	training's l1: 0.114992	valid_1's l1: 0.115423
[45]	training's l1: 0.114688	valid_1's l1: 0.115123
[46]	training's l1: 0.114038	valid_1's l1: 0.114472
[47]	training's l1: 0.113706	valid_1's l1: 0.114138
[48]	training's l1: 0.113466	valid_1's l1: 0.113905
[49]	training's l1: 0.11294	valid_1's l1: 0.113388
[50]	training's l1: 0.112647	valid_1's l1: 0.113109
[51]	training's l1: 0.112254	valid_1's l1: 0.112721
[52]	training's l1: 0.112009	valid_1's l1: 0.112469
[53]	training's l1: 0.111279	valid_1's l1: 0.11175
[54]	training's l1: 0.110996	valid_1's l1: 0.11147
[55]	training's l1: 0.110805	valid_1's l1: 0.11128
[56]	training's l1: 0.110191	valid_1's l1: 0.110662
[57]	training's l1: 0.109802	valid_1's l1: 0.110276
[58]	training's l1: 0.109602	valid_1's l1: 0.110076
[59]	training's l1: 0.109284	valid_1's l1: 0.109772
[60]	training's l1: 0.109112	valid_1's l1: 0.109609
[61]	training's l1: 0.108705	valid_1's l1: 0.1092
[62]	training's l1: 0.108507	valid_1's l1: 0.109011
[63]	training's l1: 0.108117	valid_1's l1: 0.108627
[64]	training's l1: 0.107907	valid_1's l1: 0.108422
[65]	training's l1: 0.107765	valid_1's l1: 0.108277
[66]	training's l1: 0.1076	valid_1's l1: 0.108125
[67]	training's l1: 0.107442	valid_1's l1: 0.107974
[68]	training's l1: 0.107103	valid_1's l1: 0.10764
[69]	training's l1: 0.106938	valid_1's l1: 0.107471
[70]	training's l1: 0.106795	valid_1's l1: 0.107328
[71]	training's l1: 0.106615	valid_1's l1: 0.107157
[72]	training's l1: 0.106396	valid_1's l1: 0.106941
[73]	training's l1: 0.106288	valid_1's l1: 0.106834
[74]	training's l1: 0.106183	valid_1's l1: 0.106731
[75]	training's l1: 0.106048	valid_1's l1: 0.106595
[76]	training's l1: 0.105923	valid_1's l1: 0.106477
[77]	training's l1: 0.105691	valid_1's l1: 0.106248
[78]	training's l1: 0.105579	valid_1's l1: 0.106137
[79]	training's l1: 0.105448	valid_1's l1: 0.106005
[80]	training's l1: 0.105268	valid_1's l1: 0.105834
[81]	training's l1: 0.105132	valid_1's l1: 0.105696
[82]	training's l1: 0.105064	valid_1's l1: 0.105633
[83]	training's l1: 0.104991	valid_1's l1: 0.105561
[84]	training's l1: 0.104834	valid_1's l1: 0.105409
[85]	training's l1: 0.104666	valid_1's l1: 0.105252
[86]	training's l1: 0.104246	valid_1's l1: 0.104835
[87]	training's l1: 0.104121	valid_1's l1: 0.104708
[88]	training's l1: 0.104023	valid_1's l1: 0.104613
[89]	training's l1: 0.10396	valid_1's l1: 0.104547
[90]	training's l1: 0.103834	valid_1's l1: 0.104423
[91]	training's l1: 0.103583	valid_1's l1: 0.104166
[92]	training's l1: 0.103442	valid_1's l1: 0.104028
[93]	training's l1: 0.103117	valid_1's l1: 0.103701
[94]	training's l1: 0.103015	valid_1's l1: 0.103608
[95]	training's l1: 0.102746	valid_1's l1: 0.10334
[96]	training's l1: 0.102673	valid_1's l1: 0.103272
[97]	training's l1: 0.102571	valid_1's l1: 0.103171
[98]	training's l1: 0.102211	valid_1's l1: 0.102821
[99]	training's l1: 0.102112	valid_1's l1: 0.102728
[100]	training's l1: 0.102007	valid_1's l1: 0.102624
Did not meet early stopping. Best iteration is:
[100]	training's l1: 0.102007	valid_1's l1: 0.102624

In [78]:
val_pred = model.predict(test)

In [79]:
val_pred

array([7.69818832, 7.67886266, 7.00061974, ..., 7.63637014, 7.24929311,
       7.4748115 ])

In [92]:
submit = pd.read_csv('sample_submission.csv')

In [93]:
submit["取引価格（総額）_log"] = val_pred

In [94]:
submit.head()

        ID  取引価格（総額）_log
0  1000077      7.698188
1  1000081      7.678863
2  1000128      7.000620
3  1000129      6.562306
4  1000130      7.628489

In [96]:
submit.to_csv('submit.csv', index=False)